doctype
html
	head
		title CollabKings
		link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.css")
		link(rel="stylesheet", href="bower_components/fontawesome/css/font-awesome.min.css")
		link(rel="stylesheet", href="styles/importer.css")
	body
		include nav
		.container
			include flash
			block content
		include scripts