doctype
html
	head
		title Login
		link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.css")
		style.
			form.login {
				width: 400px;
				height: 250px;
				position: absolute;
				left: 50%;
				margin-left: -200px;
				top: 50%;
				margin-top: -125px;
				background: #222;
				padding: 23px;
				color: white;
			}
	body
		form.login(action="/login", method="post")
			h2 Please Log In
			.form-group
				input.form-control(placeholder="Enter your username", id="username", name="username")
			.form-group
				input.form-control(placeholder="Enter your password", type="password", id="password", name="password")
			input.form-control(type="submit", value="Login", class="btn btn-primary")
