extends includes/layout

block content
	h1 Reports
	if items.length
		table.table.table-striped
			thead
				th Title
				th Description
				th Price
				th Sold At
			tbody
			for item in items
				tr 
					td=item.title
					td=item.description
					td=item.price
					td=item.sold
	else
		h3 No items yet

